Repository tomaszbazan/wheresmymoney: changes, and which lefthook commands are due for each by the changed paths.
All: backend-checkstyle, backend-spotbugs, backend-tests, frontend-analyze, frontend-format, frontend-tests

backend-checkstyle:
  run: cd backend && ./gradlew checkstyleMain checkstyleTest

backend-spotbugs:
  run: cd backend && ./gradlew spotbugsMain

backend-tests:
  run: cd backend && ./gradlew test

frontend-analyze:
  run: cd frontend && flutter analyze

frontend-format:
  run: cd frontend && dart format --set-exit-if-changed .

frontend-tests:
  run: cd frontend && flutter test

Configure spotless plugin to format code
  .lefthook.yml
Due: none

Configure spotless plugin to format code
  .lefthook.yml
  backend/gradle.properties
Due: none

Update deploy workflow to enhance code quality checks
  .github/workflows/deploy.yml
Due: none

Add `GITHUB_TOKEN` to deploy workflow for Docker authentication and update formatting of deploy scripts
  .github/workflows/deploy.yml
Due: none

Update Dockerfile to include only SNAPSHOT jars during build process
  backend/Dockerfile
Due: none

Simplify deploy workflow by replacing individual quality checks with a single `gradlew build` step.
  .github/workflows/deploy.yml
Due: none

Enhance empty accounts view with additional text, icon, and updated tests
  frontend/lib/screens/accounts_page.dart
  frontend/test/goldens/goldens/ci/accounts_page.png
  frontend/test/goldens/goldens/linux/accounts_page.png
  frontend/test/widget/account_management_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Add validation for sanitizing and truncating `TransactionProposal` descriptions, update related tests and exceptions
  backend/src/main/java/pl/btsoftware/backend/csvimport/application/MbankCsvParser.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/TransactionProposal.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/error/TransactionProposalDescriptionInvalidCharactersException.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/error/TransactionProposalDescriptionTooLongException.java
  backend/src/main/java/pl/btsoftware/backend/shared/validation/NameValidationRules.java
  backend/src/main/java/pl/btsoftware/backend/shared/validation/NameValidator.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/application/CsvParseServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CategorizationPromptBuilderTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CategorySuggestionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CsvParseResultTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/TransactionProposalTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/infrastructure/api/TransactionsImportControllerTest.java
  backend/src/test/java/pl/btsoftware/backend/shared/validation/NameValidatorTest.java
Due: backend-checkstyle, backend-spotbugs, backend-tests

Refactor Lefthook config: reorganize commands into grouped jobs and enable selective parallel execution
  .lefthook.yml
Due: none

Add support for `Bill` in transactions
  backend/src/main/java/pl/btsoftware/backend/account/infrastructure/persistance/AccountEntity.java
  backend/src/main/java/pl/btsoftware/backend/account/infrastructure/persistance/JpaAccountRepository.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/BillItemCommand.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/CreateTransactionCommand.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/TransactionService.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/UpdateTransactionCommand.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/Bill.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/BillId.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/BillItem.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/BillItemId.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/Transaction.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/TransactionHashCalculator.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/error/BillItemDescriptionInvalidCharactersException.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/error/BillItemDescriptionTooLongException.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/error/BillMustHaveAtLeastOneItemException.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/BillItemRequest.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/BillItemView.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/CreateTransactionRequest.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionView.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/UpdateTransactionRequest.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/BillJson.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/TransactionEntity.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/TransactionJpaRepository.java
  backend/src/main/resources/db/migration/V9__add_bill_to_transaction.sql
  backend/src/systemTest/java/pl/btsoftware/backend/HappyPathSystemTest.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/TransactionServiceTest.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/infrastructure/persistance/JpaTransactionRepositoryTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/TransactionQueryFacadeTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/application/SimpleTransactionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/application/TransactionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/domain/BillItemTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/domain/BillTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/domain/TransactionTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/domain/TransactionWithBillTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionControllerTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/persistance/InMemoryTransactionRepository.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/persistance/TransactionCommandFixture.java
Due: backend-checkstyle, backend-spotbugs, backend-tests

Add support for `Bill` in transactions
  backend/src/main/java/pl/btsoftware/backend/transaction/application/TransactionService.java
  backend/src/systemTest/java/pl/btsoftware/backend/HappyPathSystemTest.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/TransactionServiceTest.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/infrastructure/persistance/JpaTransactionRepositoryTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/application/TransactionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/domain/TransactionTest.java
Due: backend-checkstyle, backend-spotbugs, backend-tests

Remove `getTransactionsByAccountId` functionality
  backend/src/main/java/pl/btsoftware/backend/transaction/TransactionModuleFacade.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/TransactionService.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/TransactionRepository.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionController.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionView.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/JpaTransactionRepository.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/TransactionServiceTest.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/infrastructure/persistance/JpaTransactionRepositoryTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/TransactionQueryFacadeTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/application/TransactionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionControllerTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/persistance/InMemoryTransactionRepository.java
  frontend/lib/services/transaction_service.dart
  frontend/test/mocks/in_memory_transaction_service.dart
  frontend/test/services/transaction_service_test.dart
  frontend/test/services/transaction_staging_service_test.dart
Due: backend-checkstyle, backend-spotbugs, backend-tests, frontend-analyze, frontend-format, frontend-tests

Refactor transaction handling to simplify account updates and improve validation
  backend/src/main/java/pl/btsoftware/backend/transaction/application/TransactionService.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/UpdateTransactionCommand.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/Transaction.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/BillItemRequest.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/BillRequest.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/BulkCreateTransactionRequest.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/CreateTransactionRequest.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionController.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/UpdateTransactionRequest.java
  backend/src/systemTest/java/pl/btsoftware/backend/HappyPathSystemTest.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/TransactionServiceTest.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/infrastructure/persistance/JpaTransactionRepositoryTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/application/TransactionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/domain/TransactionTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionControllerTest.java
  frontend/lib/services/transaction_service.dart
  frontend/lib/widgets/transaction_form.dart
  frontend/test/mocks/in_memory_transaction_service.dart
Due: backend-checkstyle, backend-spotbugs, backend-tests, frontend-analyze, frontend-format, frontend-tests

Introduce `Money` model and refactor transaction logic for currency consistency
  backend/src/main/java/pl/btsoftware/backend/transaction/application/BillCommand.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/BillItemCommand.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/CreateTransactionCommand.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/TransactionService.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/BillItemRequest.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/BillItemView.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionView.java
  backend/src/systemTest/java/pl/btsoftware/backend/HappyPathSystemTest.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/TransactionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/application/TransactionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionControllerTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/persistance/TransactionCommandFixture.java
  frontend/lib/models/money.dart
  frontend/lib/models/transaction/bill_item.dart
  frontend/lib/models/transaction/transaction.dart
  frontend/lib/widgets/paginated_transaction_list.dart
  frontend/lib/widgets/transaction_form.dart
  frontend/lib/widgets/transaction_list.dart
  frontend/test/goldens/transaction_list_golden_test.dart
  frontend/test/mocks/in_memory_transaction_service.dart
  frontend/test/models/transaction_page_test.dart
  frontend/test/services/transaction_service_test.dart
  frontend/test/widget/transaction_list_test.dart
Due: backend-checkstyle, backend-spotbugs, backend-tests, frontend-analyze, frontend-format, frontend-tests

Remove currency parameter from transaction handling for consistency
  backend/src/main/java/pl/btsoftware/backend/transaction/application/TransactionService.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/BillItemView.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionView.java
  backend/src/test/java/pl/btsoftware/backend/transaction/application/TransactionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionControllerTest.java
  frontend/lib/services/transaction_service.dart
  frontend/lib/widgets/transaction_form.dart
  frontend/test/mocks/in_memory_transaction_service.dart
  frontend/test/services/transaction_service_test.dart
  frontend/test/widget/transaction_form_test.dart
Due: backend-checkstyle, backend-spotbugs, backend-tests, frontend-analyze, frontend-format, frontend-tests

Add `TransactionSearchCriteria` to filter transactions and refactor repositories and services
  backend/src/main/java/pl/btsoftware/backend/transaction/TransactionModuleFacade.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/TransactionService.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/TransactionRepository.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/TransactionSearchCriteria.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionController.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/JpaTransactionRepository.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/TransactionJpaRepository.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/TransactionSpecification.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/TransactionServiceTest.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/infrastructure/persistance/JpaTransactionRepositoryTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/application/TransactionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionControllerTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/persistance/InMemoryTransactionRepository.java
Due: backend-checkstyle, backend-spotbugs, backend-tests

Add transaction type filtering to `getTransactions` methods
  frontend/lib/services/transaction_service.dart
  frontend/lib/widgets/paginated_transaction_list.dart
  frontend/test/mocks/in_memory_transaction_service.dart
  frontend/test/services/transaction_service_test.dart
  frontend/test/services/transaction_staging_service_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Replace TransactionList with TransactionListItem and simplify transaction handling
  frontend/CLAUDE.md
  frontend/lib/models/transaction/bill_item_request.dart
  frontend/lib/models/transaction/create_transaction_request.dart
  frontend/lib/screens/accounts_page.dart
  frontend/lib/screens/transaction_page.dart
  frontend/lib/services/csv_import_service.dart
  frontend/lib/services/transaction_service.dart
  frontend/lib/services/transaction_staging_service.dart
  frontend/lib/utils/date_formatter.dart
  frontend/lib/widgets/account_list_item.dart
  frontend/lib/widgets/paginated_transaction_list.dart
  frontend/lib/widgets/transaction_form.dart
  frontend/lib/widgets/transaction_list.dart
  frontend/lib/widgets/transaction_list_item.dart
  frontend/lib/widgets/transaction_staging_list.dart
  frontend/lib/widgets/transfer_dialog.dart
  frontend/test/goldens/goldens/ci/transaction_list.png
  frontend/test/goldens/goldens/ci/transaction_list_empty.png
  frontend/test/goldens/goldens/ci/transaction_list_with_data.png
  frontend/test/goldens/goldens/linux/transaction_list.png
  frontend/test/goldens/goldens/linux/transaction_list_empty.png
  frontend/test/goldens/goldens/linux/transaction_list_with_data.png
  frontend/test/goldens/transaction_list_golden_test.dart
  frontend/test/mocks/in_memory_account_service.dart
  frontend/test/mocks/in_memory_category_service.dart
  frontend/test/mocks/in_memory_csv_import_service.dart
  frontend/test/mocks/in_memory_transaction_service.dart
  frontend/test/screens/transaction_page_test.dart
  frontend/test/screens/transaction_staging_screen_golden_test.dart
  frontend/test/services/csv_import_service_test.dart
  frontend/test/services/transaction_service_test.dart
  frontend/test/widget/transaction_list_test.dart
  frontend/test/widgets/account_list_item_test.dart
  frontend/test/widgets/category_form_test.dart
  frontend/test/widgets/csv_upload_dialog_golden_test.dart
  frontend/test/widgets/csv_upload_dialog_test.dart
  frontend/test/widgets/searchable_category_dropdown_test.dart
  frontend/test/widgets/transaction_list_item_test.dart
  frontend/test/widgets/transaction_staging_list_test.dart
  frontend/test/widgets/transfer_dialog_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Add transaction filtering capabilities with TransactionFilter model and update related components
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/Transaction.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/TransactionSearchCriteria.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionController.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/BillJson.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/TransactionSpecification.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/infrastructure/persistance/JpaTransactionRepositoryTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/application/TransactionServiceTest.java
  frontend/lib/models/transaction_filter.dart
  frontend/lib/screens/transaction_page.dart
  frontend/lib/services/category_service.dart
  frontend/lib/services/transaction_service.dart
  frontend/lib/widgets/transaction_filter_dialog.dart
  frontend/lib/widgets/transaction_list.dart
  frontend/test/goldens/goldens/ci/transaction_list.png
  frontend/test/goldens/goldens/linux/transaction_list.png
  frontend/test/goldens/transaction_list_golden_test.dart
  frontend/test/mocks/in_memory_category_service.dart
  frontend/test/mocks/in_memory_transaction_service.dart
  frontend/test/widget/transaction_list_test.dart
  frontend/test/widgets/csv_upload_dialog_golden_test.dart
  frontend/test/widgets/transaction_filter_dialog_test.dart
Due: backend-checkstyle, backend-spotbugs, backend-tests, frontend-analyze, frontend-format, frontend-tests

Add qodana.yaml file
  qodana.yaml
Due: none

Add github workflow file
  .github/workflows/qodana_code_quality.yml
Due: none

Path conditions:
  backend-checkstyle: any of: backend/**/*.java
  backend-spotbugs: any of: backend/**/*.java
  backend-tests: any of: backend/**/*.java
  frontend-analyze: any of: frontend/**/*.dart
  frontend-format: any of: frontend/**/*.dart
  frontend-tests: any of: frontend/**/*.dart
