Repository tomaszbazan/wheresmymoney: changes, and which lefthook commands are due for each by the changed paths.
All: backend-checkstyle, backend-spotbugs, backend-tests, frontend-analyze, frontend-format, frontend-tests

backend-checkstyle:
  run: cd backend && ./gradlew checkstyleMain checkstyleTest

backend-spotbugs:
  run: cd backend && ./gradlew spotbugsMain

backend-tests:
  run: cd backend && ./gradlew test

frontend-analyze:
  run: cd frontend && flutter analyze

frontend-format:
  run: cd frontend && dart format --set-exit-if-changed .

frontend-tests:
  run: cd frontend && flutter test

Added golden tests for `AccountsPage` to verify UI rendering for various account states.
  frontend/test/goldens/accounts_page_golden_test.dart
  frontend/test/goldens/goldens/ci/accounts_page.png
  frontend/test/goldens/goldens/linux/accounts_page.png
  frontend/test/mocks/in_memory_account_service.dart
Due: frontend-analyze, frontend-format, frontend-tests

Implement category deletion validation to prevent deletion of categories with associated transactions
  backend/src/main/java/pl/btsoftware/backend/category/application/CategoryService.java
  backend/src/main/java/pl/btsoftware/backend/category/domain/error/CategoryHasTransactionsException.java
  backend/src/main/java/pl/btsoftware/backend/category/infrastructure/configuration/CategoryModuleConfiguration.java
  backend/src/main/java/pl/btsoftware/backend/transaction/TransactionModuleFacade.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/TransactionRepository.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/configuration/TransactionModuleConfiguration.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/JpaTransactionRepository.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/TransactionJpaRepository.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/infrastructure/persistance/JpaTransactionRepositoryTest.java
  backend/src/test/java/pl/btsoftware/backend/category/application/CategoryServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/category/infrastructure/api/CategoryControllerTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/persistance/InMemoryTransactionRepository.java
  docs/TASK-0033/plan.md
  docs/backlog.md
Due: backend-checkstyle, backend-spotbugs, backend-tests

Refactor category services to use RestCategoryService and implement SearchableCategoryDropdown for improved category selection
  docs/TASK-0035/plan.md
  docs/backlog.md
  frontend/android/local.properties
  frontend/lib/screens/categories_page.dart
  frontend/lib/services/category_service.dart
  frontend/lib/widgets/category_form.dart
  frontend/lib/widgets/category_option_item.dart
  frontend/lib/widgets/category_selector.dart
  frontend/lib/widgets/searchable_category_dropdown.dart
  frontend/test/goldens/goldens/macos/accounts_page.png
  frontend/test/goldens/goldens/macos/transaction_list_empty.png
  frontend/test/goldens/goldens/macos/transaction_list_with_data.png
  frontend/test/mocks/in_memory_category_service.dart
  frontend/test/widgets/category_option_item_test.dart
  frontend/test/widgets/searchable_category_dropdown_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Refactored category and transaction services to use `CategoryType` and `TransactionType` enums, removed outdated components, and streamlined related tests.
  backend/src/test/java/pl/btsoftware/backend/category/infrastructure/api/CategoryControllerTest.java
  docker-compose.yml
  frontend/android/local.properties
  frontend/lib/models/category.dart
  frontend/lib/models/category_type.dart
  frontend/lib/models/transaction.dart
  frontend/lib/screens/categories_page.dart
  frontend/lib/screens/main_screen.dart
  frontend/lib/screens/transaction_page.dart
  frontend/lib/screens/transactions_page.dart
  frontend/lib/services/category_service.dart
  frontend/lib/services/transaction_service.dart
  frontend/lib/widgets/category_form.dart
  frontend/lib/widgets/category_selector.dart
  frontend/lib/widgets/searchable_category_dropdown.dart
  frontend/lib/widgets/transaction_form.dart
  frontend/test/goldens/transaction_list_golden_test.dart
  frontend/test/mocks/in_memory_category_service.dart
  frontend/test/mocks/in_memory_transaction_service.dart
  frontend/test/models/category_test.dart
  frontend/test/services/rest_transaction_service_test.dart
  frontend/test/utils/category_hierarchy_test.dart
  frontend/test/widget/transaction_list_test.dart
  frontend/test/widgets/category_option_item_test.dart
  frontend/test/widgets/searchable_category_dropdown_test.dart
Due: backend-checkstyle, backend-spotbugs, backend-tests, frontend-analyze, frontend-format, frontend-tests

Handle MethodArgumentTypeMismatchException in GlobalExceptionHandler.
  backend/src/main/java/pl/btsoftware/backend/account/infrastructure/api/GlobalExceptionHandler.java
Due: backend-checkstyle, backend-spotbugs, backend-tests

Block transaction creation and updating when no categories exist:
  backend/src/main/java/pl/btsoftware/backend/account/infrastructure/api/GlobalExceptionHandler.java
  backend/src/main/java/pl/btsoftware/backend/category/CategoryModuleFacade.java
  backend/src/main/java/pl/btsoftware/backend/category/application/CategoryService.java
  backend/src/main/java/pl/btsoftware/backend/category/domain/error/NoCategoriesAvailableException.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/TransactionService.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/configuration/TransactionModuleConfiguration.java
  backend/src/test/java/pl/btsoftware/backend/category/application/CategoryServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/application/TransactionServiceTest.java
  docs/TASK-0036/plan.md
  docs/backlog.md
  frontend/lib/screens/transaction_page.dart
  frontend/lib/widgets/no_categories_dialog.dart
  frontend/test/services/transaction_service_test.dart
Due: backend-checkstyle, backend-spotbugs, backend-tests, frontend-analyze, frontend-format, frontend-tests

Integrated mBank CSV parser with backend services:
  .lefthook.yml
  backend/build.gradle
  backend/src/main/java/pl/btsoftware/backend/account/infrastructure/api/GlobalExceptionHandler.java
  backend/src/main/java/pl/btsoftware/backend/category/CategoryQueryFacade.java
  backend/src/main/java/pl/btsoftware/backend/category/application/CategoryService.java
  backend/src/main/java/pl/btsoftware/backend/category/infrastructure/configuration/CategoryModuleConfiguration.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/application/CsvParseService.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/application/MbankCsvParser.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/application/ParseCsvCommand.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/application/TransactionCsvParser.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/CsvParseResult.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/CsvParsingException.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/ParseError.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/TransactionProposal.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/infrastructure/api/CsvParseResultView.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/infrastructure/api/ParseErrorView.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/infrastructure/api/TransactionProposalView.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/infrastructure/api/TransactionsImportController.java
  backend/src/main/java/pl/btsoftware/backend/transaction/TransactionQueryFacade.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/TransactionService.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/configuration/TransactionModuleConfiguration.java
  backend/src/systemTest/java/pl/btsoftware/backend/account/AccountServiceTest.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/TransactionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/category/application/CategoryServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/application/CsvParseServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/application/MbankCsvParserTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CsvParseResultTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/ParseErrorTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/infrastructure/api/TransactionsImportControllerTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/application/TransactionServiceTest.java
  backend/src/test/resources/mbank_transaction_list.csv
  docs/TASK-0040/plan.md
  docs/backlog.md
Due: backend-checkstyle, backend-spotbugs, backend-tests

Added upfront CSV file validation before parsing:
  backend/src/main/java/pl/btsoftware/backend/csvimport/application/CsvParseService.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/application/MbankCsvParser.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/application/TransactionCsvParser.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/CsvValidationException.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/application/CsvParseServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/application/MbankCsvParserTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/infrastructure/api/TransactionsImportControllerTest.java
  backend/src/test/resources/invalid_headers.csv
  backend/src/test/resources/too_short.csv
  backend/src/test/resources/wrong_delimiter.csv
  docs/TASK-0041/plan.md
Due: backend-checkstyle, backend-spotbugs, backend-tests

Implement CSV file upload functionality:
  docs/TASK-0042/plan.md
  docs/backlog.md
  frontend/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  frontend/lib/models/csv_parse_result.dart
  frontend/lib/models/parse_error.dart
  frontend/lib/models/transaction_proposal.dart
  frontend/lib/screens/transaction_page.dart
  frontend/lib/services/csv_import_service.dart
  frontend/lib/services/http_client.dart
  frontend/lib/widgets/csv_upload_dialog.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
  frontend/test/services/csv_import_service_test.dart
  frontend/test/widgets/csv_upload_dialog_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Refactor test cases to add `given-when-then` structure and switch to `AssertJ` assertions.
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CsvParseResultTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/ParseErrorTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/infrastructure/api/TransactionsImportControllerTest.java
  backend/src/test/java/pl/btsoftware/backend/monitoring/PingControllerTest.java
Due: backend-checkstyle, backend-spotbugs, backend-tests

Implement in-memory transaction staging and processing:
  docs/TASK-0043/plan.md
  docs/backlog.md
  frontend/lib/screens/transaction_staging_screen.dart
  frontend/lib/services/transaction_staging_service.dart
  frontend/lib/widgets/csv_upload_dialog.dart
  frontend/lib/widgets/transaction_staging_list.dart
  frontend/macos/Flutter/GeneratedPluginRegistrant.swift
  frontend/pubspec.lock
  frontend/pubspec.yaml
  frontend/test/flutter_test_config.dart
  frontend/test/screens/goldens/ci/transaction_staging_screen_with_transactions.png
  frontend/test/screens/goldens/linux/transaction_staging_screen_with_transactions.png
  frontend/test/screens/transaction_staging_screen_golden_test.dart
  frontend/test/services/transaction_staging_service_test.dart
  frontend/test/widgets/csv_upload_dialog_golden_test.dart
  frontend/test/widgets/goldens/ci/csv_upload_dialog_complete.png
  frontend/test/widgets/goldens/linux/csv_upload_dialog_complete.png
  frontend/test/widgets/transaction_staging_list_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Updated `GEMINI.md` to include comprehensive guidelines for Flutter and Spring Boot development:
  GEMINI.md
  backend/GEMINI.md
  frontend/GEMINI.md
Due: none

Replace CSV validation and parsing exceptions with a unified `CsvImportException`:
  backend/src/main/java/pl/btsoftware/backend/account/infrastructure/api/GlobalExceptionHandler.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/application/CsvParseService.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/application/MbankCsvParser.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/CsvImportException.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/CsvParsingException.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/CsvValidationException.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/ErrorType.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/ParseError.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/infrastructure/api/ErrorResponse.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/infrastructure/api/ParseErrorView.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/infrastructure/api/TransactionsImportController.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/application/CsvParseServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/application/MbankCsvParserTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CsvParseResultTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/ParseErrorTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/infrastructure/api/TransactionsImportControllerTest.java
Due: backend-checkstyle, backend-spotbugs, backend-tests

Handle CSV import errors with unified error messages and types:
  docs/backlog.md
  frontend/lib/models/parse_error.dart
  frontend/lib/models/parse_error_type.dart
  frontend/lib/utils/error_messages.dart
  frontend/lib/widgets/csv_upload_dialog.dart
  frontend/test/services/csv_import_service_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Update `CLAUDE.md` for improved readability by restructuring long lines
  backend/CLAUDE.md
Due: none

Add Gemini API Integration with Configurable Async Retry:
  backend/build.gradle
  backend/config/spotbugs/exclude.xml
  backend/src/main/java/pl/btsoftware/backend/ai/infrastructure/client/GeminiClient.java
  backend/src/main/java/pl/btsoftware/backend/ai/infrastructure/client/GeminiClientException.java
  backend/src/main/java/pl/btsoftware/backend/ai/infrastructure/config/AsyncRetryConfig.java
  backend/src/main/java/pl/btsoftware/backend/ai/infrastructure/config/GeminiConfig.java
  backend/src/test/java/pl/btsoftware/backend/ai/infrastructure/client/GeminiClientTest.java
  backend/src/test/java/pl/btsoftware/backend/ai/infrastructure/config/GeminiConfigTest.java
  docs/TASK-0044/plan.md
  docs/TASK-0050/plan.md
Due: backend-checkstyle, backend-spotbugs, backend-tests

Update `backlog.md` with refined AI categorization tasks and added new entries
  docs/backlog.md
Due: none

Implement `CategorySuggestion` domain model and unit tests:
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/CategorySuggestion.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CategorySuggestionTest.java
  docs/TASK-0051/plan.md
  docs/backlog.md
Due: backend-checkstyle, backend-spotbugs, backend-tests

Add `CategorizationPromptBuilder` for generating JSON prompts:
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/CategorizationPrompt.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/CategorizationPromptBuilder.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CategorizationPromptBuilderTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CategorizationPromptTest.java
  docs/TASK-0052/plan.md
  docs/backlog.md
Due: backend-checkstyle, backend-spotbugs, backend-tests

Integrate `CategorySuggestionService` with `CsvParseService` to apply category suggestions for transactions:
  backend/config/spotbugs/exclude.xml
  backend/src/main/java/pl/btsoftware/backend/ai/infrastructure/client/GeminiClient.java
  backend/src/main/java/pl/btsoftware/backend/ai/infrastructure/config/AsyncRetryConfig.java
  backend/src/main/java/pl/btsoftware/backend/ai/infrastructure/config/GeminiConfig.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/application/CsvParseService.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/CategorizationPromptBuilder.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/CategorySuggestion.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/CategorySuggestionService.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/GeminiResponseParser.java
  backend/src/systemTest/java/pl/btsoftware/backend/configuration/StubGeminiClient.java
  backend/src/systemTest/java/pl/btsoftware/backend/configuration/StubGeminiConfig.java
  backend/src/systemTest/java/pl/btsoftware/backend/configuration/SystemTest.java
  backend/src/systemTest/java/pl/btsoftware/backend/configuration/SystemTestGeminiConfiguration.java
  backend/src/systemTest/resources/application-system-test.yml
  backend/src/test/java/pl/btsoftware/backend/ai/infrastructure/client/GeminiClientTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/application/CsvParseServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CategorySuggestionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/GeminiResponseParserTest.java
  docs/TASK-0053/plan.md
  docs/TASK-0054/plan.md
  docs/TASK-0055/plan.md
  docs/backlog.md
Due: backend-checkstyle, backend-spotbugs, backend-tests

Path conditions:
  backend-checkstyle: any of: backend/**/*.java
  backend-spotbugs: any of: backend/**/*.java
  backend-tests: any of: backend/**/*.java
  frontend-analyze: any of: frontend/**/*.dart
  frontend-format: any of: frontend/**/*.dart
  frontend-tests: any of: frontend/**/*.dart
