Repository tomaszbazan/wheresmymoney: changes, and which lefthook commands are due for each by the changed paths.
All: backend-checkstyle, backend-spotbugs, backend-tests, frontend-analyze, frontend-format, frontend-tests

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    backend-checkstyle:
      glob: "backend/**/*.java"
      run: cd backend && ./gradlew checkstyleMain checkstyleTest
    backend-spotbugs:
      glob: "backend/**/*.java"  
      run: cd backend && ./gradlew spotbugsMain
    backend-tests:
      glob: "backend/**/*.java"
      run: cd backend && ./gradlew test
    frontend-analyze:
      glob: "frontend/**/*.dart"
      run: cd frontend && flutter analyze
    frontend-format:
      glob: "frontend/**/*.dart"
      run: cd frontend && dart format --set-exit-if-changed .
    frontend-tests:
      glob: "frontend/**/*.dart"
      run: cd frontend && flutter test

Introduce AI category indicator in the transaction staging screen:
  docs/TASK-0058/plan.md
  frontend/lib/models/transaction_proposal.dart
  frontend/lib/screens/transaction_staging_screen.dart
  frontend/lib/services/transaction_staging_service.dart
  frontend/lib/widgets/ai_category_indicator.dart
  frontend/lib/widgets/transaction_staging_list.dart
  frontend/test/models/transaction_proposal_test.dart
  frontend/test/screens/goldens/ci/transaction_staging_screen_with_transactions.png
  frontend/test/screens/goldens/linux/transaction_staging_screen_with_transactions.png
  frontend/test/services/transaction_staging_service_test.dart
  frontend/test/widget/ai_category_indicator_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Add hash-based transaction deduplication mechanism:
  backend/src/main/java/pl/btsoftware/backend/transaction/application/CreateTransactionCommand.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/TransactionService.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/Transaction.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/TransactionHash.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/TransactionHashCalculator.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/TransactionRepository.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/CreateTransactionRequest.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/JpaTransactionRepository.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/TransactionEntity.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/TransactionJpaRepository.java
  backend/src/main/resources/db/migration/V6__add_transaction_date_and_hash.sql
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/TransactionServiceTest.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/infrastructure/persistance/JpaTransactionRepositoryTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/application/TransactionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/domain/TransactionHashCalculatorTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/domain/TransactionHashTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionControllerTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/persistance/InMemoryTransactionRepository.java
  docs/TASK-0062/plan.md
Due: backend-checkstyle, backend-spotbugs, backend-tests

Introduce bulk transaction creation and deduplication:
  backend/src/main/java/pl/btsoftware/backend/transaction/TransactionModuleFacade.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/BulkCreateResult.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/BulkCreateTransactionCommand.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/TransactionService.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/TransactionRepository.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/error/DuplicateTransactionException.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/BulkCreateTransactionRequest.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/BulkCreateTransactionResponse.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionController.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/JpaTransactionRepository.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/TransactionJpaRepository.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/TransactionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/application/TransactionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/persistance/InMemoryTransactionRepository.java
  docs/TASK-0064/plan.md
  docs/TASK-0065/plan.md
  docs/backlog.md
Due: backend-checkstyle, backend-spotbugs, backend-tests

Add bulk transaction creation with deduplication support:
  frontend/lib/models/bulk_create_response.dart
  frontend/lib/screens/transaction_page.dart
  frontend/lib/screens/transaction_staging_screen.dart
  frontend/lib/services/transaction_service.dart
  frontend/lib/services/transaction_staging_service.dart
  frontend/lib/widgets/transaction_form.dart
  frontend/test/mocks/in_memory_transaction_service.dart
  frontend/test/services/transaction_service_test.dart
  frontend/test/services/transaction_staging_service_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Remove unused Supabase configuration script and integrate `.env` example:
  .env.example
  .github/workflows/deploy.yml
  .gitignore
  backend/src/main/resources/application.yml
  docker-compose.yml
  frontend/scripts/generate_config.sh
Due: none

Add `transactionDate` field to transaction model and tests:
  .env
  backend/build.gradle
  backend/gradle.properties
  backend/local.properties
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionView.java
  backend/src/systemTest/build.gradle
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionControllerTest.java
  frontend/lib/models/transaction.dart
  frontend/lib/screens/transaction_page.dart
  frontend/lib/services/transaction_service.dart
  frontend/lib/widgets/transaction_form.dart
  frontend/lib/widgets/transaction_list.dart
  frontend/test/goldens/transaction_list_golden_test.dart
  frontend/test/mocks/in_memory_transaction_service.dart
  frontend/test/services/transaction_service_test.dart
  frontend/test/widget/transaction_list_test.dart
Due: backend-checkstyle, backend-spotbugs, backend-tests, frontend-analyze, frontend-format, frontend-tests

Update deploy workflow to include read/write permissions for frontend job
  .github/workflows/deploy.yml
Due: none

Update ports for frontend container and CORS configuration:
  .github/workflows/deploy.yml
  backend/src/main/java/pl/btsoftware/backend/config/WebConfig.java
  docker-compose.yml
Due: backend-checkstyle, backend-spotbugs, backend-tests

Remove `--network host` from frontend container in deploy workflow
  .github/workflows/deploy.yml
Due: none

Remove .env from version control
  .env
Due: none

Add unit tests for `CategoriesPage` and `CategoryForm`, refactor transaction proposal logic, and update CSV import service APIs
  .env.example
  backend/src/main/java/pl/btsoftware/backend/ai/infrastructure/client/GeminiClient.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/application/CsvParseService.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/application/MbankCsvParser.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/CategorizationPromptBuilder.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/CategorySuggestion.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/CategorySuggestionService.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/GeminiResponseParser.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/TransactionProposal.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/TransactionProposalId.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/TransactionService.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/BulkCreateTransactionRequest.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/CreateTransactionRequest.java
  backend/src/main/resources/application.yml
  backend/src/test/java/pl/btsoftware/backend/csvimport/application/CsvParseServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/application/MbankCsvParserTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CategorizationPromptBuilderTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CategorySuggestionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CategorySuggestionTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CsvParseResultTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/GeminiResponseParserTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/infrastructure/api/TransactionsImportControllerTest.java
  frontend/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  frontend/lib/screens/categories_page.dart
  frontend/lib/screens/transaction_page.dart
  frontend/lib/screens/transaction_staging_screen.dart
  frontend/lib/services/csv_import_service.dart
  frontend/lib/services/transaction_staging_service.dart
  frontend/lib/widgets/category_form.dart
  frontend/lib/widgets/csv_upload_dialog.dart
  frontend/lib/widgets/searchable_category_dropdown.dart
  frontend/lib/widgets/transaction_staging_list.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
  frontend/test/mocks/in_memory_category_service.dart
  frontend/test/screens/categories_page_test.dart
  frontend/test/services/csv_import_service_test.dart
  frontend/test/widgets/category_form_test.dart
  frontend/test/widgets/csv_upload_dialog_test.dart
  frontend/test/widgets/transaction_staging_list_test.dart
Due: backend-checkstyle, backend-spotbugs, backend-tests, frontend-analyze, frontend-format, frontend-tests

Replace `@Ignore` with `@Disabled` in CsvParseServiceTest and simplify test data initialization
  backend/src/test/java/pl/btsoftware/backend/csvimport/application/CsvParseServiceTest.java
Due: backend-checkstyle, backend-spotbugs, backend-tests

Add validation rules for names, introduce specific exceptions, and update tests accordingly
  backend/src/main/java/pl/btsoftware/backend/account/domain/error/AccountNameInvalidCharactersException.java
  backend/src/main/java/pl/btsoftware/backend/category/domain/Category.java
  backend/src/main/java/pl/btsoftware/backend/category/domain/error/CategoryNameEmptyException.java
  backend/src/main/java/pl/btsoftware/backend/category/domain/error/CategoryNameInvalidCharactersException.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/error/TransactionProposalDescriptionTooLongException.java
  backend/src/main/java/pl/btsoftware/backend/shared/Money.java
  backend/src/main/java/pl/btsoftware/backend/shared/error/ColorInvalidFormatException.java
  backend/src/main/java/pl/btsoftware/backend/shared/error/ColorValueNullException.java
  backend/src/main/java/pl/btsoftware/backend/shared/error/MoneyCurrencyMismatchException.java
  backend/src/main/java/pl/btsoftware/backend/shared/validation/NameValidationRules.java
  backend/src/main/java/pl/btsoftware/backend/shared/validation/NameValidator.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/error/TransactionHashInvalidException.java
  backend/src/main/java/pl/btsoftware/backend/users/application/UserService.java
  backend/src/main/java/pl/btsoftware/backend/users/domain/Group.java
  backend/src/main/java/pl/btsoftware/backend/users/domain/GroupInvitation.java
  backend/src/main/java/pl/btsoftware/backend/users/domain/User.java
  backend/src/main/java/pl/btsoftware/backend/users/domain/error/CannotRemoveLastGroupMemberException.java
  backend/src/main/java/pl/btsoftware/backend/users/domain/error/DisplayNameInvalidCharactersException.java
  backend/src/main/java/pl/btsoftware/backend/users/domain/error/DisplayNameTooLongException.java
  backend/src/main/java/pl/btsoftware/backend/users/domain/error/GroupMustHaveAtLeastOneMemberException.java
  backend/src/main/java/pl/btsoftware/backend/users/domain/error/GroupNameInvalidCharactersException.java
  backend/src/main/java/pl/btsoftware/backend/users/domain/error/GroupNameTooLongException.java
  backend/src/main/java/pl/btsoftware/backend/users/domain/error/InvitationNotPendingException.java
  backend/src/systemTest/java/pl/btsoftware/backend/users/UserGroupTest.java
  backend/src/test/java/pl/btsoftware/backend/account/domain/AccountTest.java
  backend/src/test/java/pl/btsoftware/backend/account/domain/MoneyTest.java
  backend/src/test/java/pl/btsoftware/backend/category/domain/CategoryTest.java
  backend/src/test/java/pl/btsoftware/backend/shared/validation/NameValidationRulesTest.java
  backend/src/test/java/pl/btsoftware/backend/users/application/UserServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/users/domain/GroupInvitationTest.java
  backend/src/test/java/pl/btsoftware/backend/users/domain/GroupTest.java
  backend/src/test/java/pl/btsoftware/backend/users/domain/UserTest.java
Due: backend-checkstyle, backend-spotbugs, backend-tests

Remove `AccountData` class, refactor transaction handling to simplify `AccountService` and `TransactionService`, add `AccountHasTransactionsException`, update SQL migrations, and clean up unit tests.
  backend/src/main/java/pl/btsoftware/backend/account/AccountModuleFacade.java
  backend/src/main/java/pl/btsoftware/backend/account/application/AccountService.java
  backend/src/main/java/pl/btsoftware/backend/account/domain/Account.java
  backend/src/main/java/pl/btsoftware/backend/account/domain/error/AccountHasTransactionsException.java
  backend/src/main/java/pl/btsoftware/backend/account/infrastructure/configuration/AccountModuleConfiguration.java
  backend/src/main/java/pl/btsoftware/backend/account/infrastructure/persistance/AccountData.java
  backend/src/main/java/pl/btsoftware/backend/account/infrastructure/persistance/AccountEntity.java
  backend/src/main/java/pl/btsoftware/backend/account/infrastructure/persistance/JpaAccountRepository.java
  backend/src/main/java/pl/btsoftware/backend/category/application/CategoryService.java
  backend/src/main/java/pl/btsoftware/backend/csvimport/domain/TransactionProposal.java
  backend/src/main/java/pl/btsoftware/backend/shared/Color.java
  backend/src/main/java/pl/btsoftware/backend/transaction/TransactionModuleFacade.java
  backend/src/main/java/pl/btsoftware/backend/transaction/TransactionQueryFacade.java
  backend/src/main/java/pl/btsoftware/backend/transaction/application/TransactionService.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/TransactionHash.java
  backend/src/main/java/pl/btsoftware/backend/transaction/domain/TransactionRepository.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/configuration/TransactionModuleConfiguration.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/JpaTransactionRepository.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/persistance/TransactionJpaRepository.java
  backend/src/main/resources/db/migration/V7__add_version_to_account.sql
  backend/src/main/resources/db/migration/V8__remove_data_from_account.sql
  backend/src/systemTest/java/pl/btsoftware/backend/account/AccountServiceTest.java
  backend/src/systemTest/java/pl/btsoftware/backend/account/infrastructure/persistance/JpaAccountRepositoryTest.java
  backend/src/systemTest/java/pl/btsoftware/backend/transaction/TransactionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/account/application/AccountServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/account/infrastructure/api/AccountControllerTest.java
  backend/src/test/java/pl/btsoftware/backend/ai/infrastructure/config/GeminiConfigTest.java
  backend/src/test/java/pl/btsoftware/backend/category/application/CategoryServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/shared/ColorTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/application/TransactionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/domain/TransactionHashTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/persistance/InMemoryTransactionRepository.java
Due: backend-checkstyle, backend-spotbugs, backend-tests

Add `ErrorHandler` utility to centralize error handling and refactor error messaging across multiple screens and widgets
  frontend/lib/screens/accounts_page.dart
  frontend/lib/screens/categories_page.dart
  frontend/lib/screens/transaction_page.dart
  frontend/lib/utils/error_handler.dart
  frontend/lib/widgets/category_form.dart
  frontend/lib/widgets/transaction_form.dart
  frontend/test/utils/error_handler_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Add `HappyPathSystemTest` covering full user journey with accounts, categories, and transactions
  backend/src/systemTest/java/pl/btsoftware/backend/HappyPathSystemTest.java
Due: backend-checkstyle, backend-spotbugs, backend-tests

Add reusable widgets for account forms, item lists, and summaries with tests
  frontend/lib/screens/accounts_page.dart
  frontend/lib/utils/account_type_helper.dart
  frontend/lib/utils/amount_validator.dart
  frontend/lib/widgets/account_form_dialog.dart
  frontend/lib/widgets/account_list_item.dart
  frontend/lib/widgets/account_summary_card.dart
  frontend/lib/widgets/date_selector.dart
  frontend/test/utils/account_type_helper_test.dart
  frontend/test/utils/amount_validator_test.dart
  frontend/test/widgets/account_form_dialog_test.dart
  frontend/test/widgets/account_list_item_test.dart
  frontend/test/widgets/account_summary_card_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Add comprehensive unit tests for accounts, categories, transactions, validations, and shared components to improve coverage and ensure robustness
  backend/CLAUDE.md
  backend/src/test/java/pl/btsoftware/backend/account/AccountModuleFacadeTest.java
  backend/src/test/java/pl/btsoftware/backend/account/domain/AuditInfoTest.java
  backend/src/test/java/pl/btsoftware/backend/category/CategoryModuleFacadeTest.java
  backend/src/test/java/pl/btsoftware/backend/category/CategoryQueryFacadeTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CategorizationPromptBuilderTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CategorizationPromptTest.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/domain/CategorySuggestionServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/shared/TombstoneTest.java
  backend/src/test/java/pl/btsoftware/backend/shared/validation/NameValidatorTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/TransactionQueryFacadeTest.java
  backend/src/test/java/pl/btsoftware/backend/transaction/domain/TransactionTest.java
Due: backend-checkstyle, backend-spotbugs, backend-tests

Add `KeyboardNavigationWrapper` to enable keyboard shortcuts for tab navigation
  frontend/lib/screens/main_screen.dart
  frontend/lib/utils/keyboard_shortcuts.dart
  frontend/lib/widgets/keyboard_navigation_wrapper.dart
  frontend/lib/widgets/side_menu.dart
  frontend/lib/widgets/transaction_form.dart
  frontend/test/utils/keyboard_shortcuts_test.dart
  frontend/test/widget/transaction_form_test.dart
  frontend/test/widgets/keyboard_navigation_wrapper_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Update .gitignore to exclude VS Code settings file
  .gitignore
Due: none

Refactor `AccountService` to simplify operations, add audit logging, and remove transaction types
  backend/src/main/java/pl/btsoftware/backend/account/AccountModuleFacade.java
  backend/src/main/java/pl/btsoftware/backend/account/application/AccountService.java
  backend/src/main/java/pl/btsoftware/backend/account/domain/Account.java
  backend/src/main/java/pl/btsoftware/backend/account/infrastructure/configuration/AccountModuleConfiguration.java
  backend/src/systemTest/java/pl/btsoftware/backend/account/AccountServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/account/AccountModuleFacadeTest.java
  backend/src/test/java/pl/btsoftware/backend/account/application/AccountServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/account/domain/AccountTest.java
Due: backend-checkstyle, backend-spotbugs, backend-tests

Add transfer creation flow with validation, persistence, and API integration
  backend/src/main/java/pl/btsoftware/backend/shared/TransferId.java
  backend/src/main/java/pl/btsoftware/backend/shared/error/InvalidExchangeRateException.java
  backend/src/main/java/pl/btsoftware/backend/transfer/TransferModuleFacade.java
  backend/src/main/java/pl/btsoftware/backend/transfer/api/TransferController.java
  backend/src/main/java/pl/btsoftware/backend/transfer/api/dto/CreateTransferRequest.java
  backend/src/main/java/pl/btsoftware/backend/transfer/api/dto/TransferView.java
  backend/src/main/java/pl/btsoftware/backend/transfer/api/dto/TransfersView.java
  backend/src/main/java/pl/btsoftware/backend/transfer/application/CreateTransferCommand.java
  backend/src/main/java/pl/btsoftware/backend/transfer/application/TransferService.java
  backend/src/main/java/pl/btsoftware/backend/transfer/domain/Transfer.java
  backend/src/main/java/pl/btsoftware/backend/transfer/domain/TransferRepository.java
  backend/src/main/java/pl/btsoftware/backend/transfer/domain/error/TransferDescriptionInvalidCharactersException.java
  backend/src/main/java/pl/btsoftware/backend/transfer/domain/error/TransferDescriptionTooLongException.java
  backend/src/main/java/pl/btsoftware/backend/transfer/domain/error/TransferNotFoundException.java
  backend/src/main/java/pl/btsoftware/backend/transfer/domain/error/TransferToSameAccountException.java
  backend/src/main/java/pl/btsoftware/backend/transfer/infrastructure/configuration/TransferModuleConfiguration.java
  backend/src/main/java/pl/btsoftware/backend/transfer/infrastructure/persistance/JpaTransferRepository.java
  backend/src/main/java/pl/btsoftware/backend/transfer/infrastructure/persistance/TransferEntity.java
  backend/src/main/java/pl/btsoftware/backend/transfer/infrastructure/persistance/TransferJpaRepository.java
  backend/src/main/resources/db/migration/V10__create_transfer_table.sql
  backend/src/systemTest/java/pl/btsoftware/backend/transfer/TransferSystemTest.java
  backend/src/systemTest/java/pl/btsoftware/backend/transfer/infrastructure/persistance/JpaTransferRepositoryTest.java
  backend/src/test/java/pl/btsoftware/backend/transfer/api/TransferControllerTest.java
  backend/src/test/java/pl/btsoftware/backend/transfer/application/TransferServiceTest.java
  backend/src/test/java/pl/btsoftware/backend/transfer/domain/TransferTest.java
Due: backend-checkstyle, backend-spotbugs, backend-tests

Extend `HappyPathSystemTest` with audit trail verification
  backend/src/systemTest/java/pl/btsoftware/backend/HappyPathSystemTest.java
Due: backend-checkstyle, backend-spotbugs, backend-tests

Add transfer dialog functionality with API integration and tests
  frontend/lib/models/transfer.dart
  frontend/lib/screens/accounts_page.dart
  frontend/lib/services/transfer_service.dart
  frontend/lib/widgets/account_list_item.dart
  frontend/lib/widgets/transfer_dialog.dart
  frontend/test/goldens/goldens/ci/accounts_page.png
  frontend/test/goldens/goldens/linux/accounts_page.png
  frontend/test/mocks/in_memory_transfer_service.dart
  frontend/test/services/transfer_service_test.dart
  frontend/test/widgets/transfer_dialog_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Paginate transaction retrieval and add `TransactionPage` model with tests
  frontend/lib/models/transaction_page.dart
  frontend/lib/screens/transaction_page.dart
  frontend/lib/services/transaction_service.dart
  frontend/lib/widgets/paginated_transaction_list.dart
  frontend/test/mocks/in_memory_transaction_service.dart
  frontend/test/models/transaction_page_test.dart
  frontend/test/services/transaction_service_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Add audit trail support with filtering, pagination, and details
  frontend/lib/models/audit_entity_type.dart
  frontend/lib/models/audit_log.dart
  frontend/lib/models/audit_operation.dart
  frontend/lib/screens/audit_trail_page.dart
  frontend/lib/screens/main_screen.dart
  frontend/lib/services/audit_service.dart
  frontend/lib/utils/date_formatter.dart
  frontend/lib/widgets/audit_filter_dialog.dart
  frontend/lib/widgets/audit_log_list_item.dart
  frontend/lib/widgets/bottom_navigation.dart
  frontend/lib/widgets/side_menu.dart
  frontend/test/models/audit_entity_type_test.dart
  frontend/test/models/audit_log_test.dart
  frontend/test/models/audit_operation_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Update `MbankCsvParser` to use `:` as a separator in descriptions instead of `/` and update related tests
  backend/src/main/java/pl/btsoftware/backend/csvimport/application/MbankCsvParser.java
  backend/src/test/java/pl/btsoftware/backend/csvimport/application/MbankCsvParserTest.java
Due: backend-checkstyle, backend-spotbugs, backend-tests

Migrate `users` and `group_members` tables to use `UUID` for IDs instead of `VARCHAR(100)`
  backend/src/main/resources/db/migration/V1__users_and_groups_tables.sql
Due: none

Add migration strategy documentation, entity mappings, sync API, and test coverage
  backend/src/main/java/pl/btsoftware/backend/migration/api/MigrationSyncController.java
  backend/src/main/java/pl/btsoftware/backend/migration/api/SyncAccountRequest.java
  backend/src/main/java/pl/btsoftware/backend/migration/api/SyncCategoryRequest.java
  backend/src/main/java/pl/btsoftware/backend/migration/api/SyncResultResponse.java
  backend/src/main/java/pl/btsoftware/backend/migration/api/SyncStatusResponse.java
  backend/src/main/java/pl/btsoftware/backend/migration/api/SyncTransactionRequest.java
  backend/src/main/java/pl/btsoftware/backend/migration/application/MigrationSyncService.java
  backend/src/main/java/pl/btsoftware/backend/migration/domain/MigrationEntityMapping.java
  backend/src/main/java/pl/btsoftware/backend/migration/domain/MigrationEntityMappingRepository.java
  backend/src/main/java/pl/btsoftware/backend/migration/domain/MigrationSyncLog.java
  backend/src/main/java/pl/btsoftware/backend/migration/domain/MigrationSyncLogRepository.java
  backend/src/main/resources/db/migration/V12__migrate_data_from_old_app.sql
  backend/src/main/resources/db/migration/V13__create_sync_tracking_table.sql
  backend/src/main/resources/db/migration/V14__create_sync_procedures.sql
  backend/src/test/java/pl/btsoftware/backend/migration/api/MigrationSyncControllerTest.java
  backend/src/test/java/pl/btsoftware/backend/migration/application/MigrationSyncServiceTest.java
  docs/migration-strategy.md
Due: backend-checkstyle, backend-spotbugs, backend-tests

Fix spotbugs problem
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionControllerTest.java
Due: backend-checkstyle, backend-spotbugs, backend-tests
