Repository tomaszbazan/wheresmymoney: changes, and which lefthook commands are due for each by the changed paths.
All: backend-checkstyle, backend-spotbugs, backend-tests, frontend-analyze, frontend-format, frontend-tests

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    backend-checkstyle:
      glob: "backend/**/*.java"
      run: cd backend && ./gradlew checkstyleMain checkstyleTest
    backend-spotbugs:
      glob: "backend/**/*.java"  
      run: cd backend && ./gradlew spotbugsMain
    backend-tests:
      glob: "backend/**/*.java"
      run: cd backend && ./gradlew test
    frontend-analyze:
      glob: "frontend/**/*.dart"
      run: cd frontend && flutter analyze
    frontend-format:
      glob: "frontend/**/*.dart"
      run: cd frontend && dart format --set-exit-if-changed .
    frontend-tests:
      glob: "frontend/**/*.dart"
      run: cd frontend && flutter test

Added checkstyle configuration
  backend/build.gradle
Due: none

Added checkstyle configuration
  .github/workflows/deploy.yml
  backend/build.gradle
  backend/config/checkstyle/checkstyle.xml
  backend/config/checkstyle/suppressions.xml
  backend/config/spotbugs/exclude.xml
  backend/src/main/java/pl/btsoftware/backend/account/AccountModuleFacade.java
  backend/src/main/java/pl/btsoftware/backend/account/application/AccountService.java
  backend/src/main/java/pl/btsoftware/backend/account/application/CreateAccountCommand.java
  backend/src/main/java/pl/btsoftware/backend/account/domain/Account.java
  backend/src/main/java/pl/btsoftware/backend/account/infrastructure/api/AccountsView.java
  backend/src/main/java/pl/btsoftware/backend/account/infrastructure/persistance/AccountData.java
  backend/src/main/java/pl/btsoftware/backend/category/CategoryModuleFacade.java
  backend/src/main/java/pl/btsoftware/backend/category/domain/Category.java
  backend/src/main/java/pl/btsoftware/backend/category/infrastructure/api/CategoriesView.java
  backend/src/main/java/pl/btsoftware/backend/shared/AccountId.java
  backend/src/main/java/pl/btsoftware/backend/shared/Color.java
  backend/src/main/java/pl/btsoftware/backend/shared/Money.java
  backend/src/main/java/pl/btsoftware/backend/transaction/TransactionModuleFacade.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionsView.java
  backend/src/main/java/pl/btsoftware/backend/users/application/GroupService.java
  backend/src/main/java/pl/btsoftware/backend/users/application/UserService.java
  backend/src/main/java/pl/btsoftware/backend/users/domain/Group.java
  backend/src/main/java/pl/btsoftware/backend/users/domain/UserId.java
  backend/src/main/java/pl/btsoftware/backend/users/infrastructure/api/GroupView.java
  backend/src/test/java/pl/btsoftware/backend/account/domain/AccountTest.java
  backend/src/test/java/pl/btsoftware/backend/shared/JwtTokenFixture.java
  backend/src/test/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionControllerTest.java
  backend/src/test/java/pl/btsoftware/backend/users/application/UserServiceTest.java
  frontend/lib/config/supabase_config.dart
  frontend/lib/main.dart
  frontend/lib/screens/accounts_page.dart
  frontend/lib/screens/main_screen.dart
  frontend/lib/services/auth_service.dart
  frontend/lib/services/http_client.dart
  frontend/lib/widgets/category_selector.dart
  frontend/lib/widgets/transaction_form.dart
  frontend/lib/widgets/transaction_list.dart
  frontend/test/models/http_exception_test.dart
  frontend/test/utils/password_validator_test.dart
  frontend/test/widget/account_management_test.dart
Due: backend-checkstyle, backend-spotbugs, backend-tests, frontend-analyze, frontend-format, frontend-tests

Fix pipeline
  .github/workflows/deploy.yml
  backend/build.gradle
Due: none

Fix pipeline
  .github/workflows/deploy.yml
Due: none

Fix sonar configuration
  .github/workflows/deploy.yml
  sonar-project.properties
Due: none

Fix sonar configuration
  backend/config/checkstyle/suppressions.xml
  sonar-project.properties
Due: none

Fix sonar configuration and clean up unused methods
  backend/src/main/java/pl/btsoftware/backend/account/infrastructure/api/AccountsView.java
  backend/src/main/java/pl/btsoftware/backend/transaction/infrastructure/api/TransactionsView.java
  backend/src/main/java/pl/btsoftware/backend/users/infrastructure/api/GroupView.java
  sonar-project.properties
Due: backend-checkstyle, backend-spotbugs, backend-tests

Add comprehensive documentation for project architecture and requirements
  AGENTS.md
  GEMINI.md
  backend/AGENTS.md
  backend/GEMINI.md
  docker-compose.yml
  docs/backlog.md
  docs/core/002-import_transactions.md
  docs/functions/differences.md
  docs/prd.md
  frontend/AGENTS.md
  frontend/CLAUDE.md
  frontend/GEMINI.md
  frontend/pubspec.lock
  supabase/kong.yml
Due: none

Docker setup with supabase auth
  .env
  docker-compose.yml
  volumes/api/kong.yml
  volumes/db/_supabase.sql
  volumes/db/init/data.sql
  volumes/db/jwt.sql
  volumes/db/logs.sql
  volumes/db/pooler.sql
  volumes/db/realtime.sql
  volumes/db/roles.sql
  volumes/db/webhooks.sql
  volumes/functions/hello/index.ts
  volumes/functions/main/index.ts
  volumes/logs/vector.yml
  volumes/pooler/pooler.exs
Due: none

Docker setup with supabase auth
  docker-compose.yml
  volumes/api/kong.yml
  volumes/db/_supabase.sql
  volumes/db/init/data.sql
  volumes/db/jwt.sql
  volumes/db/logs.sql
  volumes/db/pooler.sql
  volumes/db/realtime.sql
  volumes/db/roles.sql
  volumes/db/webhooks.sql
  volumes/functions/hello/index.ts
  volumes/functions/main/index.ts
  volumes/logs/vector.yml
  volumes/pooler/pooler.exs
Due: none

TASK-0005
  CLAUDE.md
  backend/CLAUDE.md
  backend/local.properties
  backend/src/main/java/pl/btsoftware/backend/monitoring/ping.http
  docker-compose.yml
  docs/TASK-0005/plan.md
  docs/backlog.md
  frontend/android/local.properties
  frontend/macos/Runner.xcodeproj/project.pbxproj
  frontend/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  frontend/macos/Runner/AppDelegate.swift
  frontend/pubspec.yaml
Due: none

Setup supabase auth
  .env
  docker-compose.yml
  frontend/Dockerfile
  scripts/run.sh
  volumes/api/kong.yml
  volumes/db/init/data.sql
  volumes/functions/hello/index.ts
  volumes/functions/main/index.ts
  volumes/logs/vector.yml
  volumes/pooler/pooler.exs
Due: none

Setup supabase auth
  docker-compose.yml
  frontend/Dockerfile
  scripts/run.sh
  volumes/api/kong.yml
  volumes/db/init/data.sql
  volumes/functions/hello/index.ts
  volumes/functions/main/index.ts
  volumes/logs/vector.yml
  volumes/pooler/pooler.exs
Due: none

Refactored Supabase configuration and updated ports for local development.
  .env
  .github/workflows/deploy.yml
  backend/src/main/java/pl/btsoftware/backend/config/WebConfig.java
  docker-compose.yml
  frontend/Dockerfile
  scripts/run.sh
  scripts/supabase/db/_supabase.sql
  scripts/supabase/db/init/data.sql
  scripts/supabase/db/jwt.sql
  scripts/supabase/db/logs.sql
  scripts/supabase/db/pooler.sql
  scripts/supabase/db/realtime.sql
  scripts/supabase/db/roles.sql
  scripts/supabase/db/webhooks.sql
  scripts/supabase/kong.yml
  supabase/kong.yml
Due: backend-checkstyle, backend-spotbugs, backend-tests

Refactored Supabase configuration and updated ports for local development.
  .github/workflows/deploy.yml
  backend/src/main/java/pl/btsoftware/backend/config/WebConfig.java
  docker-compose.yml
  frontend/Dockerfile
  scripts/run.sh
  scripts/supabase/db/_supabase.sql
  scripts/supabase/db/init/data.sql
  scripts/supabase/db/jwt.sql
  scripts/supabase/db/logs.sql
  scripts/supabase/db/pooler.sql
  scripts/supabase/db/realtime.sql
  scripts/supabase/db/roles.sql
  scripts/supabase/db/webhooks.sql
  scripts/supabase/kong.yml
  supabase/kong.yml
Due: backend-checkstyle, backend-spotbugs, backend-tests

Replaced `MockTransactionService` with `InMemoryTransactionService` for improved testability, removed legacy mocks, and updated widget tests accordingly.
  frontend/test/mocks/in_memory_transaction_service.dart
  frontend/test/mocks/mock_transaction_service.dart
  frontend/test/services/transaction_service_test.dart
  frontend/test/services/transaction_service_test.mocks.dart
  frontend/test/widget/transaction_form_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Added golden tests for `TransactionList` widget, implemented HTTP tests for account and transaction services, and improved testability with `FakeAuthService`.
  docs/backlog.md
  frontend/.gitignore
  frontend/lib/services/account_service.dart
  frontend/lib/services/http_client.dart
  frontend/lib/services/transaction_service.dart
  frontend/lib/widgets/side_menu.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
  frontend/test/goldens/goldens/ci/transaction_list_empty.png
  frontend/test/goldens/goldens/ci/transaction_list_with_data.png
  frontend/test/goldens/goldens/linux/transaction_list_empty.png
  frontend/test/goldens/goldens/linux/transaction_list_with_data.png
  frontend/test/goldens/transaction_list_golden_test.dart
  frontend/test/mocks/fake_auth_service.dart
  frontend/test/mocks/in_memory_transaction_service.dart
  frontend/test/services/rest_account_service_test.dart
  frontend/test/services/rest_transaction_service_test.dart
Due: frontend-analyze, frontend-format, frontend-tests

Added golden tests for `AccountsPage` to verify UI rendering for various account states.
  frontend/test/goldens/accounts_page_golden_test.dart
  frontend/test/goldens/goldens/ci/accounts_page.png
  frontend/test/goldens/goldens/linux/accounts_page.png
  frontend/test/mocks/in_memory_account_service.dart
Due: frontend-analyze, frontend-format, frontend-tests
